@font-face {
	font-family: SFProDisplaySemiBold;
	src: url("./Fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
}
@font-face {
	font-family: SfProDisplayMedium;
	src: url("./Fonts//FontsFree-Net-SFProDisplay-Medium\ \(2\).ttf");
}

:root {
	--heading: "SFProDisplaySemiBold";
	--body: "SfProDisplayMedium";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
	scroll-behavior: smooth;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a {
	text-decoration: none;
	color: inherit;
}

.App {
	display: table-cell;
	vertical-align: middle;
}
/* global class:container : left aligned / white color*/
.container {
	text-align: justify;
	color: white;
	width: 70vw;
	min-height: 100vh;
	margin: 0 2rem;
	padding-bottom: 2rem;
	z-index: 300;
}

.container h2 {
	font-family: var(--heading);
	font-size: 2rem;
}

.container p {
	font-family: var(--body);
	font-size: 1.2rem;
	line-height: 1.3rem;
	margin-top: 2rem;
}

.container ul {
	margin: 1.2rem 1.2rem;
	font-family: var(--body);
	font-size: 1.2rem;
}

.container-small {
	padding-top: 45%;
}

/*Home section styles*/
.home {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home img {
	display: flex;
	width: 50vw;
	height: 40vh;
}

/* Navbar */
.nav {
	/*the text inside container is uniform, but looks wieird with gaps in between, check that too , i am developing the rest pages*/
	height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	float: right;
	position: fixed;
	right: 0;
	text-align: center;
	z-index: 1;
	overflow: hidden;
}
.nav-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-item {
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 2rem 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
/*About*/
.about {
	height: 100vh;
	padding: 2rem 0;
}
